.submit{
    background-color: rgb(26, 99, 235);
    height: 30px;
    width: 30%;
    margin: 10px auto 20px auto;
    border: transparent;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;

}

