h1{ color: cornflowerblue; }
h2{ color: blue; }

span.especial{ color: blueviolet; }
.destacado{ color: goldenrod; }

strong{ color: red  ; }

th.Especial{ color: olive; }

th{ color: red ; border: 1px solid black; border-collapse: collapse; }



td{ color: green; border: 1px solid black; border-collapse: collapse; }

table{  

border-style: 1px solid black;
border-collapse: collapse;
    font-size: 105%;
    
    }


th.especial{ font-style:initial; color: goldenrod; }



tfoot{ color: red; }

.row{ color: green; }

div{ color: olive  }

span#especial{ color: palevioletred; }
tr em{

    color: green;

}

tr strong{

    color: yellow;

}
div#adicional a{

    color: green;

}




