*{ text-align: center;  }

table{ border-collapse: collapse ; border: #333 }

th{ background-color: #E6F3FF; }

tr{    background: url(C:\Users\Usuario\Documents\git\EGG-GUIAS-Esteban-Cardozo\GUIA 16 - HTML\HTML-CSS-master\Ejercicio 10\imagenes\fondo_gris.gif) ;   }

