<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bibli libro egg</title>
    </head>
    <body>
        <header>
            <div class="container"> 
                <h2>Carga el libro aquí</h2>
            </div>


        </header>    

        <div class="container-fluid m-5 contenedor">
            <form  class="formulario" action="/libro/registro" method="POST">
                
                <div class="form-group my-3">
                    <label class="mb-2">Cargar libro</label>

                    <input type="number" class="form-control" name="isbn" placeholder="ISBN">

                </div>
                <div class="form-group my-3">


                    <input type="text" class="form-control" name="título" placeholder="Título del libro">

                </div>
                <div class="form-group my-3">


                    <input type="number" class="form-control" name="ejemplares" placeholder="Cantidad de ejemplares">

                </div>

                <div th:if="${error !=null }" class="card text-white bg-danger mb-3 mensajeError">
                    <div class="card-body">
                        <h5 class="card title">ERROR</h5>
                        <p class="card-text" th:text="${error}"></p>

                    </div>


                </div>    

                <div th:if="${exito!=null}" class="card text-white bg-succes mb-3 mensajeExito">
                    <div class="card-body">
                        <h5 class="card title">ÉXITO</h5>
                        <p class="card-text" th:text="${exito}"></p>

                    </div>


                </div>



                <button type="submit" class="btn btn-primary"> subir </button>




            </form>


        </div>

    </body>
</html>
