<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>PÁGINA INICIO</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Inicio uno dos</h1>
<!--        <p th:text="${hola}"></p>
        <p th:text="${hola2}"></p>-->
        <br/>

        <div th: if="${individuos != null and !individuos.empty}">

            <table border="2">
                <tr>
                    <th>nombre</th>
                    <th>apellido</th>
                    <th>edad</th>
                    <th>telefono</th>
                    <th>correo</th>
                </tr>
                <tr th:each="individuo  : ${individuos}">
                    <td th:text="${individuo.nombre}">Muestra nombre</td>
                    <td th:text="${individuo.apellido}">Muestra apellido</td>
                    <td th:text="${individuo.edad}">Muestra edad</td>
                    <td th:text="${individuo.telefono}">Muestra telefono</td>
                    <td th:text="${individuo.correo}">Muestra mail</td>


                </tr>
            </table>
        </div>

        <div th:if= "${individuos == null or individuos.empty}">
LA LISTA NO TIENE INFO
        </div>



    </body>
</html>
